<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schoolCard.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.schoolCard.entity.Major" >
    <id column="jzx_id" property="jzxId" jdbcType="INTEGER" />
    <result column="jzx_name" property="jzxName" jdbcType="VARCHAR" />
    <result column="jzx_years" property="jzxYears" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    jzx_id, jzx_name, jzx_years
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jiangzx_major
    where jzx_id = #{jzxId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jiangzx_major
    where jzx_id = #{jzxId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.schoolCard.entity.Major" >
    insert into jiangzx_major (jzx_id, jzx_name, jzx_years
      )
    values (#{jzxId,jdbcType=INTEGER}, #{jzxName,jdbcType=VARCHAR}, #{jzxYears,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.schoolCard.entity.Major" >
    insert into jiangzx_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jzxId != null" >
        jzx_id,
      </if>
      <if test="jzxName != null" >
        jzx_name,
      </if>
      <if test="jzxYears != null" >
        jzx_years,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jzxId != null" >
        #{jzxId,jdbcType=INTEGER},
      </if>
      <if test="jzxName != null" >
        #{jzxName,jdbcType=VARCHAR},
      </if>
      <if test="jzxYears != null" >
        #{jzxYears,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolCard.entity.Major" >
    update jiangzx_major
    <set >
      <if test="jzxName != null" >
        jzx_name = #{jzxName,jdbcType=VARCHAR},
      </if>
      <if test="jzxYears != null" >
        jzx_years = #{jzxYears,jdbcType=INTEGER},
      </if>
    </set>
    where jzx_id = #{jzxId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolCard.entity.Major" >
    update jiangzx_major
    set jzx_name = #{jzxName,jdbcType=VARCHAR},
      jzx_years = #{jzxYears,jdbcType=INTEGER}
    where jzx_id = #{jzxId,jdbcType=INTEGER}
  </update>
</mapper>