<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schoolCard.dao.MonitorMapper" >
  <resultMap id="BaseResultMap" type="com.schoolCard.entity.Monitor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="api" property="api" jdbcType="VARCHAR" />
    <result column="studentId" property="studentid" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="params" property="params" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, api, studentId, time, params
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from monitor
    where studentId = #{studentid,jdbcType=VARCHAR}
  </select>
  <select id="queryAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from monitor
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from monitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.schoolCard.entity.Monitor" >
    insert into monitor (id, url, api,
      studentId, time, params
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{api,jdbcType=VARCHAR},
      #{studentid,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{params,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.schoolCard.entity.Monitor" >
    insert into monitor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="api != null" >
        api,
      </if>
      <if test="studentid != null" >
        studentId,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="params != null" >
        params,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="api != null" >
        #{api,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.schoolCard.entity.Monitor" >
    update monitor
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="api != null" >
        api = #{api,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        studentId = #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.schoolCard.entity.Monitor" >
    update monitor
    set url = #{url,jdbcType=VARCHAR},
      api = #{api,jdbcType=VARCHAR},
      studentId = #{studentid,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      params = #{params,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>